[Desktop Entry]
Comment=Application Launcher for KDE Plasma
Exec=~/.local/bin/rocket
GenericName=
Icon=rocket
MimeType=
Name=Rocket
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
StartupWMClass=rocket
